@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

main {
    width: min(150ch, 100% - 4rem);
    font-family: 'Asap', sans-serif;
    margin-inline: auto;
    padding: 1rem;
}
table {
    margin-top: 2rem;
    width: 100%;
}

#project-title {
    font-family: 'Asap', sans-serif;
    text-align: left;
    font-size: 5rem;
    padding-bottom: 20px;
    color: #f49390;
}
th {
    text-align: start;
    padding: 1em;
    color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #a2666f;
}
#content {
    border-collapse: collapse;
}

td {
    padding: 1rem;
    margin: 1rem;
    border-bottom: 1px solid #a2666f;
}

td a {
    margin: 5px;
    color: rgba(0, 0, 0, 0.9);
}

td a:hover {
 color: #f45866;
}


td:nth-child(3) ul >  li {
    display: inline;
    margin-right: 2px;
    font-size: small;
    font-family: 'Courier Prime', monospace;
}

td:nth-child(3) ul >  li:not(:last-child)::after {
   content: " ⋄ "
}


/**/
#folders {
    display: flex;
    flex-direction: row;
}
.sub-folder {
    display: flex;
    padding: 1rem;
    gap: 5px;
    border-radius: 1rem;
    margin: 1em;
    width: 15%;
    background-color: rgba(162, 102, 111, 0.2);
    transition: 0.5s;
    
}
.sub-folder > span {
    text-align: center;
    padding-top: 5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub-folder > img {
    flex-shrink: 0;
}
.sub-folder:hover {
    transform: translateY(-5px);
    box-shadow: 7px 7px 2px 1px rgba(99, 26, 134, 0.1);
    cursor: pointer;
}

#folders > div > span {
    display: inline-block;
    
}
#view-options > button {
    border: 1px solid gray;
    float: right;
    background: none;
    width: 10ch;
    padding: 0.5em;
}