main {
    font-family: 'Asap', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 0;
}
a {
    text-decoration: none;
}

.sub-title{
    font-size: clamp(2rem, 10vw, 3rem);
    margin: auto;
    padding: 0.2em;
    color: #f49390;
    font-weight: bold;
}




/*******************************************/
/* Title section */
#title-container, #about-container, #contact-container {
    margin-bottom: 20rem;
    padding: 1em;
}

#title-container > div {
    overflow: hidden;
    position: relative;
}

#name-title {
    font-family: 'Coiny', cursive;
    background: #fff;
    font-size: clamp(3rem, 10vw, 7rem)
}
#name-title:before {
    background: -webkit-linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    mix-blend-mode: screen;
    border: none;
}
[class*="blobs"]
	{mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate}

.blobs_1{
    position: absolute;
	background:#ff1493;
	width:100px;
	height:100px;
	top:65px;
	left:0px;

}
.blobs_2{
    position: absolute;
	background:#ff4500;
	width:125px;
	height:75px;
	top:50px;
	left:125px;

}
.blobs_3{
    position: absolute;
	background:#88FF00;
	width:150px;
	height:75px;
	top:75px;
	left:900px;
}

.blobs_4{
    position: absolute;
	background:#6FFCE6;
	width:100px;
	height:100px;
	top:0px;
	left:750px;
}
.blobs_5{
    position: absolute;
	background:#f45866;
	width:175px;
	height:100px;
	top:85px;
	left:250px;
}
.blobs_6{
    position: absolute;
	background:#631a86;
	width:175px;
	height:100px;
	top:10px;
	left:425px;
}

.blobs_7{
    position: absolute;
	background:#C51C7F ;
	width:150px;
	height:150px;
	top:75px;
	left:600px;
}


#title-container > h2 {
    margin-bottom: 1em;
}



/*******************************************/
/* About Section */
#about-desc, #selfie {
    display: inline-block;
}
#about-desc {
    max-width: 100ch;
    padding: 1em;
    margin: auto;
}
.desc-para {
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 1em;
}
#selfie {
    overflow: hidden;
    margin: 1em;
    height: auto;
    border-radius: 50% 70% 50% 70% / 80% 90% 70% 50%;
    box-shadow: 10px 10px 39px -35px rgba(0,0,0,0.64);
    animation: blobs 45s ease-in-out infinite alternate;
}

#skill-lists {
    display: flex;
    margin-left: 1em;
    flex-wrap: wrap;
    list-style-type: '⋄';
    list-style-position: inside;
}

#skill-lists li {
    color: #631a86;
    padding-left: 5px; 
    flex-basis: 40% ;
    font-family: 'Blinker', sans-serif;
}

@keyframes blobs{
	0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
	10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
	20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
	30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
	40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
	50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
	60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
	70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
	80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
	90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
	100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
}






/*******************************************/
/* Experience Section */
#exp-container2 {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 20rem;
}


.job-title {
    font-size: clamp(1rem, 10vw, 1.5rem);
    font-weight: bold;
    color: #631a86;
}
#work-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
#work-list li {
    display: inline-flex;
    margin-bottom: -1px;
    border-left: 4px solid rgba(168,168,168, 0.3);
    padding: 1em;
    max-width: 20ch;
}

@media screen 
and (min-device-width: 100px)
and (max-device-width: 1100px) 
and (-webkit-min-device-pixel-ratio: 1) {
    #work-list {
        flex-direction: row;
        overflow-x: scroll;
    }
}

#work-list li:first-child .active {
    border-left-color: rgba(244,147,144, 0.5);
}

#work-list .active {
    border-left-color: #f49390;
    background-color: rgba(244,147,144, 0.2);
    transition: all 1s; 
}

.hidden {
    display: none;
}
.view {
    display: block;
}

.job-task {
    line-height: 1.5;
    max-width: 100ch;
    padding: 1em;
}

.job-task li {
    list-style-position: inside;
}



/***********************/
/* Project Section */
.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
}
.project-pic {
    margin: 1em;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    box-shadow: 5px 5px 2px 1px rgba(162, 102, 111, 0.1);
}

.project-pic:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 2px 1px rgba(99, 26, 134, 0.1);
}

.project-info {
    max-width: 100ch;
    margin: auto;
    gap: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.project-title {
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.project-title > a {
    color: #631a86;
    transition: 0.5s;
}
.project-title > a:hover {
    color: #f45866;
}
.project-desc {
    line-height: 1.5;
    max-width: 50ch;
    text-align: center;
}


.project-links {
    padding: 1em;
}
.ext-link {
    margin: 1em; 
    padding-bottom: 5px;
}

.ext-link:hover {
    border-bottom: 2px solid rgba(162, 102, 111, 1);
}


.ext-link a {
    display: inline-block;
    color: black;
    margin-left: 5px;
}


.project-lang-tags {
    background-color: rgba(196, 90, 179, 1);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}
.project-lang-tags > span {
    margin: 5px;
    padding: 3px;
    color: white;
    font-family: 'Blinker', sans-serif;
}

#view-more {
    margin-bottom: 20rem;
}
/***********************/
/* Contact Section */
#contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
}
#contact-desc {
    margin-bottom: 2em;
    padding: 1em;
    margin: 0;
    gap: 0;
}

.btn {
    font-family: 'Asap', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    border: none;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 7px;
    transition: 0.5s ease;
}

.btn > a {
    color: white;
}

.btn:hover {
    animation: gradient 10s ease infinite;
    transform: translate(0px, 10px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/************/
/* Media Queries */
